<!-- <h2>{{ ParentData }}</h2> -->

<!-- <app-todo></app-todo>
<app-login [LoginData]="true"></app-login>
<app-content (myEvent)="getData($event)"></app-content>
<app-products></app-products> -->

<!-- Lab 4 -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!-- End of Lab 4 -->
<!-- <h2>{{ DataFromContent }}</h2> -->
<!-- <app-content [receiveDataFromComponent]="ParentData2", ></app-content> -->
<!-- <button (click)="showMessage($event)" class="btn btn-warning">Show More</button> -->
<!-- app.component to app.content -->
